@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.mid-loader {
  height: 100vh;
  background-color: #00242f;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.mid-loader .loader {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00242f), to(#000000));
  background-image: linear-gradient(#00242f, #000000);
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: relative;
}

.mid-loader .loader .loader-main {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 0.7rem solid #ffffff;
  border-top: 0.7rem solid #1e84e4;
  -webkit-animation: loding 1s linear infinite;
          animation: loding 1s linear infinite;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@-webkit-keyframes loding {
  from {
    -webkit-box-shadow: 0rem 0rem 0rem #ffffff, inset 0rem 0rem 0rem #ffffff;
            box-shadow: 0rem 0rem 0rem #ffffff, inset 0rem 0rem 0rem #ffffff;
  }
  to {
    -webkit-transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
            transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
    border-bottom: 0.7rem solid #1e84e4;
    border-top: 0.7rem solid #ffffff;
    -webkit-box-shadow: 0rem 0rem 3rem #ffffff, inset 0rem 0rem 3rem #ffffff;
            box-shadow: 0rem 0rem 3rem #ffffff, inset 0rem 0rem 3rem #ffffff;
  }
}

@keyframes loding {
  from {
    -webkit-box-shadow: 0rem 0rem 0rem #ffffff, inset 0rem 0rem 0rem #ffffff;
            box-shadow: 0rem 0rem 0rem #ffffff, inset 0rem 0rem 0rem #ffffff;
  }
  to {
    -webkit-transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
            transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
    border-bottom: 0.7rem solid #1e84e4;
    border-top: 0.7rem solid #ffffff;
    -webkit-box-shadow: 0rem 0rem 3rem #ffffff, inset 0rem 0rem 3rem #ffffff;
            box-shadow: 0rem 0rem 3rem #ffffff, inset 0rem 0rem 3rem #ffffff;
  }
}

.mid-loader .loader h1 {
  position: absolute;
  top: 50%;
  color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.navbar {
  background-color: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  height: 5rem;
  padding: 0% 7rem;
  position: relative;
  top: 0%;
  background-color: #ffffff;
  left: 0%;
  -webkit-box-shadow: 0px 0.2rem 0.5rem #3333339f;
          box-shadow: 0px 0.2rem 0.5rem #3333339f;
}

.navbar .burger-container {
  width: 50%;
  display: none;
}

.navbar .burger-container .burger {
  border-radius: 0.3rem;
  border: 2px solid #003953;
  height: 2.7rem;
  width: 2.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .burger-container .burger div {
  height: 0.3rem;
  width: 100%;
  background-color: #003953;
}

.navbar::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: #3333339f;
  -webkit-transform: skewY(0.2deg);
          transform: skewY(0.2deg);
  z-index: -1;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.navbar::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: #3333339f;
  -webkit-transform: skewY(-0.2deg);
          transform: skewY(-0.2deg);
  z-index: -1;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo h1 {
  font-size: 1.7rem;
  text-transform: capitalize;
}

.navbar .logo h1 a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar .logo h1 a:hover {
  color: #003953;
}

.navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .nav a {
  font-size: 1.3rem;
  margin: 0rem 1.3rem;
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar .nav a::after {
  content: '';
  position: absolute;
  bottom: 0%;
  width: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
  height: 0.1rem;
  background-color: #1e84e4;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.navbar .nav a:hover {
  color: #1e84e4;
}

.navbar .nav a:hover::after {
  width: 100%;
}

.body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  display: -ms-grid;
  display: grid;
  height: 60vh;
  margin: 8.8rem 10rem;
  -ms-grid-columns: (minmax(370px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 2rem;
}

.main .warp {
  text-align: center;
  width: 100%;
}

.main .sec-title {
  text-align: center;
  position: relative;
  top: 0%;
  left: 0%;
  text-transform: capitalize;
  display: inline-block;
}

.main .sec-title::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 120%;
  height: 0.1rem;
  background-color: #333333;
  width: 150%;
}

.main .sec-title::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 120%;
  height: 0.1rem;
  background-color: #333333;
  width: 150%;
}

.main img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .navbar {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    height: auto;
    padding: 0% 0%;
  }
  .navbar .burger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .logo {
    padding: 0% 20%;
  }
  .navbar .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    overflow: hidden;
  }
  .navbar .nav a::after {
    display: none;
  }
}

@media screen and (max-width: 664px) {
  .main {
    margin: 0px 0px;
    width: 100%;
    height: auto;
  }
  .navbar {
    -webkit-box-shadow: 0px 0px 0px transparent;
            box-shadow: 0px 0px 0px transparent;
  }
}
/*# sourceMappingURL=style.css.map */